DATABASE_URL="file:../data/integrera.db"
API_PORT=3001
ENCRYPTION_KEY="change-this-to-a-secure-32-char-key!!"

# Tripletex
TRIPLETEX_CONSUMER_TOKEN=""
TRIPLETEX_EMPLOYEE_TOKEN=""

# Shopify
SHOPIFY_STORE_DOMAIN=""
SHOPIFY_ACCESS_TOKEN=""

# Vipps
VIPPS_CLIENT_ID=""
VIPPS_CLIENT_SECRET=""
VIPPS_SUBSCRIPTION_KEY=""
VIPPS_MERCHANT_SERIAL_NUMBER=""
